In [1]:
import os
import datetime
import numpy as np
import pandas as pd

# Here the final processing version is presented

In [2]:
########################
##    Reading data    ##
########################

data = pd.read_pickle('selected_data.pkl')
print('data :', data.shape)
data.head()

data : (1301399, 14)

,STATE,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,DATE,DIST_FROM_START,DEATHS_DIRECT_COST,DEATHS_INDIRECT_COST,INJURIES_DIRECT_COST,INJURIES_INDIRECT_COST
302890,NEW JERSEY,Astronomical Low Tide,0,0,0,0,0.0,0.0,1997-03-06,430,0.0,0.0,0.0,0.0
302891,NEW JERSEY,Astronomical Low Tide,0,0,0,0,0.0,0.0,1997-03-06,430,0.0,0.0,0.0,0.0
302892,NEW JERSEY,Astronomical Low Tide,0,0,0,0,0.0,0.0,1997-03-06,430,0.0,0.0,0.0,0.0
307309,DELAWARE,Astronomical Low Tide,0,0,0,0,0.0,0.0,1997-03-06,430,0.0,0.0,0.0,0.0
307695,NEW JERSEY,Astronomical Low Tide,0,0,0,0,0.0,0.0,1997-03-06,430,0.0,0.0,0.0,0.0

In [41]:
#################################################
##    One-Hot vectors for states and events    ##
#################################################

event_types = pd.get_dummies(data.EVENT_TYPE)
states = pd.get_dummies(data.STATE)
cost = data.DAMAGE_PROPERTY + data.DAMAGE_CROPS

#########################
##    Date features    ##
#########################

month = data.DATE.apply(lambda x: x.month)
day = data.DATE.apply(lambda x: x.day)
year = data.DATE.apply(lambda x: x.year)

In [42]:
###############################
##    Merging the columns    ##
###############################

cost_data = event_types
cost_data[states.columns] = states

cost_data['COST'] = cost

cost_data['INJURIES_DIRECT'] = data.INJURIES_DIRECT
cost_data['INJURIES_INDIRECT'] = data.INJURIES_INDIRECT
cost_data['DEATHS_DIRECT'] = data.DEATHS_DIRECT
cost_data['DEATHS_INDIRECT'] = data.DEATHS_INDIRECT

cost_data['MONTH'] = month
cost_data['DAY'] = day
cost_data['YEAR'] = year

In [43]:
#######################
##    Saving data    ##
#######################

cost_data.to_pickle('cost_data.pkl')